@editor-space: 24px;
@editor-border-bolor: rgb(240, 240, 240);
.editor{
  .editorTitle{
    padding: 0 @editor-space 0 (@editor-space/2);
    border-bottom: 1px solid @editor-border-bolor;
    .label{
      color: #a0aabf;
      padding-left: 11px;
      padding-top: 11px;
      font-size: 12px;
    }
    .title {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .editorContent{
    position: relative;
    &::after{
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      content: '';
      background-color: @editor-border-bolor;
    }
    .tip{
      color: #a0aabf;
      border-bottom: 1px solid @editor-border-bolor;
      width: 100%;
      height: 40px;
      display: flex;
      padding-left: 2px;
      padding-right: @editor-space;
    }
    .content{
      width: 100%;
    }
    .source{
      padding: @editor-space;
      font-size: 12px;
      pre {
        display: block;
        width: 100%;
      }
    }
    .html{
      padding: @editor-space;
    }
  }
  .editorTools{
    padding: (@editor-space/4) @editor-space;
    font-size: 12px;
    border-top: 1px solid @editor-border-bolor;
    color: #a0aabf;
  }
}

.newTag{
  border-style: dashed;
  color: #a0aabf;
  cursor: pointer;
}
.tagInput{
  font-size: 12px;
  input{
    font-size: 12px;
  }
  :global{
    .ant-input-suffix{
      color: #a0aabf;
    }
  }
}

.checker{
  color: #ccc;
}
.allowed {
  color:#52c41a;
}

.back{
  font-size: 24px;
  color:#a0aabf;
  cursor: pointer;
  transition: color .3s ease;
  &:hover{
    color: #1890ff;
  }
}

.toolbar{
  font-weight: normal;
}

.topics{
  list-style: none;
  margin: 0;
  padding: 0;
}

.titlePrefix{
  color: #1890ff;
  margin-right: 8px;
}