@theme-size: 1px;
.installer{
  height: 40px;
  padding: 0px 8px 0px 24px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  .installMarker{
    font-size: 14px;
    color: #722ed1;
    margin-left: 8px;
  }
}
.commander{
  height: 40px;
  font-size: 14px;
  .status{
    color: #595959;
  }
}
.xterm{
  width: 100%;
  height: 40px;
  background-color: #1e202f;
  transition: height .3s ease-in-out;
  overflow: hidden;
  .console{
    font-size: 1px;
    border-bottom:1px solid #181a26;
    padding: 8px 24px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    height: 40px;
    .icon{
      font-size: 14px;
      position: relative;
      top: 1px;
    }
    .toggle{
      font-size: 14px;
      cursor: pointer;
    }
    .command{
      font-weight: 300;
    }
  }
  .box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 12px 0 0 24px;
    box-sizing: border-box;
  }
  &.show{
    height: 300px;
  }
}

.channel{
  border-right: 1px solid #f5f5f5;
  .title{
    width: 100%;
    padding: 0 24px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
  }
  .list{
    width: 100%;
  }
  .auto{
    flex: 1;
  }
  &:last-child{
    border-right: 0;
  }
}

.plugin{
  font-size: 12px;
  padding: 12px 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
  transition: background-color .3s ease-in-out;
  &:last-child{
    border-bottom: 0;
  }
  .name{
    font-weight: 500;
    font-size: 14px;
  }
  .version{
    color: #bfbfbf;
    font-weight: 300;
    font-size: 12px;
  }
  .description{
    margin-bottom: 0;
    color: #595959;
    font-weight: 300;
    font-size: 12px;
  }
  .tools{
    a{
      font-size: 12px;
    }
  }
  &:hover{
    background-color: #f6ffed;
  }
  &.active{
    background-color: #e6f7ff;
  }
}

.theme {
  border-bottom: 1px solid #f5f5f5;
  &:last-child{
    border-bottom: 0;
  }
  .cover{
    width: 100%;
    cursor: pointer;
    position: relative;
    img{
      width: 100%;
    }
    .checked{
      display: none;
    }
    .version{
      position: absolute;
      bottom: 8px;
      left: 8px;
      display: inline-block;
      background-color: #1890ff;
      color: #fff;
      font-size: 12px;
      border-radius: 10px;
      height: 20px;
      line-height: 20px;
      padding: 0 8px;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
  }
  .info{
    padding: 8px 12px;
    box-sizing: border-box;
    .name{
      margin: 0;
      font-size: 14px;
    }
    // .version{
    //   color: #bfbfbf;
    //   font-weight: 300;
    //   font-size: 12px;
    // }
    .description{
      color: #595959;
      font-weight: 300;
      margin:8px 0 8px 0;
      font-size: 12px;
    }
    .tools{
      a{
        font-size: 12px;
      }
    }
  }
  &.active{
    background-color: #e6f7ff;
  }
  &.current{
    position: relative;
    .cover{
      background-color: #eee;
      .checked{
        display: flex;
        position: absolute;
        right: 8px;
        top: 0;
        height: 20px;
        padding: 2px 8px;
        border-radius: 0 0 3px 3px;
        background-color: #1890ff;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
    &::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: @theme-size;
      height: 100%;
      background-color: #1890ff;
      z-index: 2;
      transition: background-color .3s ease-in-out;
      border-radius: 1px 0 0 1px;
    }
    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: @theme-size;
      height: 100%;
      background-color: #1890ff;
      z-index: 2;
      transition: background-color .3s ease-in-out;
      border-radius: 0 1px 1px 0;
    }
    .wrap{
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: @theme-size;
        background-color: #1890ff;
        z-index: 2;
        transition: background-color .3s ease-in-out;
        border-radius: 1px 1px 0 0;
      }
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: @theme-size;
        background-color: #1890ff;
        z-index: 2;
        transition: background-color .3s ease-in-out;
        border-radius: 0 0 1px 1px;
      }
    }
  }
}

.configchannel{
  border-bottom: 1px solid #f5f5f5;
  padding: 8px 24px;
  &:hover{
    background-color: #fefefe;
  }
}